// Specific CSS for your home-page
.banner {
  padding: 1px;
  margin-bottom: 20px;
  height: 500px;
  background-size: 100%;
}

.head{
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin-top: 150px;
  h1 {
    font-size: 150px;
    font-weight: bold;
    color: white;
  }
  h5 {
    color: white;
  }
}

.homepage {
  height: 1300px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#popular {
    text-align: center;
    color: rgb(73, 72, 72);
    align-items: center;
    margin-top: 40px
}

.card {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}

.all {
  margin-top: 15px;
}
