// Specific CSS for your home-page
.banner {
  padding: 20px;
  margin-bottom: 20px;
  height: 500px;
  border-radius: 20px;
}

.head{
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 150px;
  h1 {
    font-size: 70px;
    color: white;
  }
  p {
    font-size: 20px;
    color: white;
  }
}

.homepage {
  // background-color: #f2e9d6;
  height: 1300px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#popular {
    text-align: center;
    color: rgb(209, 202, 202);
    align-items: center;
    margin-top: 40px
}

.card {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;
}

.all {
  margin-top: 15px;
}
