<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="_footer.scss">
    <script src="https://kit.fontawesome.com/3262482443.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="footer-container">
    <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> by Romee and the Anna's
    </div>
</div>

</body>
</html>


