
.book-an-item {
  justify-content: space-between;
  display:flex;
  div {
    margin: 0 10px;
  }
}

.booking-form {
background-color: white;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 45%;
}
