.card-item {
  padding: 15px;
  height: 470px;
  color: rgb(73, 72, 72);
}

.card-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.card-listings {
  height: fit-content;
  padding: 0px;
}

.card-user-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
